/* Сброс стилей */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overflow: auto;
}

/* Основные стили */
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background-color: #141D2B;
  color: #E7E9EB;
  scroll-behavior: smooth;
  overflow: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header */
header {
  background-color: rgba(20, 29, 43, 0.9);
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header-content {
  display: flex;
  align-items: center;
}

.logo img {
  margin-right: auto;
  height: 80px;
  flex-shrink: 0;
}

/* Навигационное меню */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-left: 30px;
}

nav a {
  color: white;
  text-decoration: none;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.bar {
  background-color: white;
  height: 2px;
  width: 100%;
  margin: 5px 0;
}

.mobile-menu {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%); 
  top: 100%;
  left: 0; 
  width: 250px;
  background-color: #212D3F; 
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2); 
  flex-direction: column; 
  position: absolute;
}

.mobile-menu.active {
  transform: translateY(0);
}

.mobile-menu li {
  margin: 15px 0;
}

/* Hero Section */
.hero {
  position: relative;
  background-image: url('images/hero-bg.png');
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 80px;
  overflow: visible;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 29, 43, 0.8);
  opacity: 0;
  transition: opacity 1s ease;
}

.hero h1, .hero p, .hero .btn {
  position: relative;
  z-index: 2;
}

/* Section Styles */
.section {
  padding: 80px 0;
  text-align: center;
  background-color: #1A2534;
}

.section h2 {
  font-size: 36px;
  margin-bottom: 30px;
  color: #E7E9EB;
}

/* Services Section */
.services-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.service {
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  background-color: #212D3F;
}

.service:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.service-icon {
  width: 80px;
  height: 80px;
  margin: 0 auto 20px auto;
  transition: transform 0.3s ease;
}

.service:hover .service-icon {
  transform: translateY(-10px) scale(1.1);
}

.service-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Approach Section */
.approach-steps {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.step {
  text-align: center;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  background-color: #212D3F;
  padding-bottom: 40px;
}

.step:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

/* Contacts Section */
.contacts ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contacts li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.contacts li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #E7E9EB;
}

.contacts li img {
  margin-right: 10px;
  filter: invert(100%);
}


/* General Styles */
h1, h2, h3 {
  color: #E7E9EB;
}

h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

h2 {
  font-size: 36px;
  margin-bottom: 30px;
}

h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  margin-bottom: 30px;
  color: #E7E9EB;
}

/* Button */
.btn, .g-recaptcha {
  display: inline-block;
  background-color: #3498DB;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  font-size: 18px;
  border-radius: 10px;
  padding: 10px 20px;
}

.btn:hover {
  background-color: #2980B9;
}


/* Footer */
footer {
  background-color: #0D141F;
  color: #E7E9EB;
  padding: 20px 0;
  text-align: center;
}

/* Анимации появления секций */
.hero, .section {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.appear {
  opacity: 1;
  transform: translateY(0);
}

/* Modal */
.modal {
  display: none;
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 10%;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #28364A;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.close-modal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-modal:hover,
.close-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Form */
#application-form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}

#application-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
}

.form-group label {
  white-space: nowrap; 
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 12px;
  border: none;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: #212D3F;
  color: #E7E9EB;
}

.form-group a {
  color: #fff;
}

.form-group input[type="checkbox"] {
  margin-right: 10px;
}

input::placeholder { /* Chrome/Opera/Safari */
  color: #ccc;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: #ccc;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: #ccc;
}
input:-moz-placeholder { /* Firefox 18- */
  color: #ccc;
}

/* Media Queries */
@media (max-width: 1200px) {
  .logo img {
    height: 80px;
  }
}

@media (max-width: 900px) {
  .logo img {
    height: 60px;
  }
}

@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
  }

  .desktop-menu {
    display: none;
  }

  .hero h1 {
    font-size: 36px;
  }

  .services-grid, 
  .approach-steps {
    grid-template-columns: 1fr;
  }
  
  .modal-content {
    width: 95%; /* Модальное окно занимает почти всю ширину экрана */
    max-width: none; /* Убираем ограничение максимальной ширины */
    margin: 5% auto; /* Уменьшаем отступы сверху и снизу */
  }

  /* Form */
  #application-form {
    max-width: 100%; /* Форма занимает всю ширину модального окна */
  }

  .form-group {
    margin-bottom: 15px; /* Уменьшаем отступы между полями формы */
  }

  .form-group input,
  .form-group textarea {
    font-size: 16px; /* Уменьшаем размер шрифта */
  }

  .btn, .g-recaptcha {
    font-size: 16px; /* Уменьшаем размер шрифта кнопки */
  }
}